<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>homeresult</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">homeresult</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-header [translucent]="true">
    <ion-toolbar color="primary">
      <ion-title>
        <h1 class="col">My Profile</h1>
        <ion-img class="col" [src]="i" ></ion-img>
        <br>
      </ion-title>
      <ion-title>
        My Username = {{this.u}}
      </ion-title> 
      <ion-title>
        My E-mail = {{this.e}}
      </ion-title>
      <br>

    </ion-toolbar>
  </ion-header>
  
</ion-content>
